mixin logo-small(className)
  svg(
  version="1.0"
  xmlns="http://www.w3.org/2000/svg"
  class=className
  viewBox="50 0 566.000000 566.000000"
  )

    g(
    transform="translate(0.000000,566.000000) scale(0.100000,-0.100000)"
    stroke="none"
    )

      // top left
      path(d="M2635 5154 c-272 -62 -556 -184 -789 -339 -421 -281 -754 -711 -917 -1185 -38 -108 -87 -300 -95 -371 -12 -102 31 -184 120 -232 l41 -22 920 0 920 0 42 22 c53 29 98 84 112 139 15 59 15 1803 0 1858 -15 54 -80 121 -136 140 -61 21 -86 20 -218 -10z")

      // bottom left
      path(d="M949 2670 c-84 -44 -126 -129 -115 -229 8 -71 57 -263 95 -371 173 -504 539 -957 995 -1234 243 -147 485 -243 757 -298 104 -22 109 -22 162 -5 65 21 130 84 146 143 15 55 15 1799 0 1858 -13 54 -59 110 -110 136 -37 19 -62 20 -966 20 -892 -1 -929 -2 -964 -20z")

      // d
      path(d="M3615 5197 c-139 -47 -235 -143 -276 -277 -19 -64 -19 -96 -17 -2090 l3 -2025 32 -67 c42 -90 110 -160 192 -201 64 -31 69 -32 191 -31 149 1 273 24 468 89 605 201 1103 693 1350 1333 128 331 179 629 169 992 -11 398 -87 711 -257 1055 -271 550 -712 947 -1258 1135 -222 77 -504 118 -597 87z m335 -533 c275 -76 508 -213 720 -424 280 -280 470 -663 534 -1075 100 -644 -117 -1305 -568 -1732 -229 -216 -478 -349 -788 -417 l-28 -6 0 1840 c0 1746 1 1840 18 1840 9 0 60 -12 112 -26z")
